# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
env/
*.virtualenv

# Distribution and build files
*.whl
*.egg
*.egg-info/
build/
dist/

# Logs and temp files
*.log
*.tmp

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
*.env
